* {
    margin: 0;
    padding: 0;
    /* border: 0.5px solid black; */
}

body {
    background: #E5E5E5;
}

.content > * {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px 0 140px;
}

header {
    margin-top: 30px;
}

.header-text {
    margin: 48px 0 40px;
}

header .container > div {
    display: flex;
    justify-content: space-between;
}

.header-left {
    flex: 3;
    padding-top: 65px;
    background: url(/img/shado.png) transparent no-repeat center;
    background-size: contain;
}
.header-right {
    flex: 4;
    background: url(/img/header\ card.png) transparent no-repeat center;
    background-size: contain;
}

.top-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 60px;
    cursor: pointer;
}

.top-button::before {
    position: absolute;
    left: 0;
    top: 0;
    
    background: url(/img/arrow.png) transparent no-repeat center;
    content: '';
    width: 50px;
    height: 100%;
    color: #F3FAFE;
    
    display: block;
}

.trigger-fire {
    background: url(/img/fire.svg) transparent no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.trigger-fire-bold {
    font-size: 30px;
}

.trigger-icon {
    background: url(/img/coin.svg) transparent no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: 15px;
}

.triggers .bold,
.triggers .medium {
    display: inline-block;
    margin-bottom: 30px;
}
